@model TechZone.Models.ViewModels.Reviews.SubmitReviewViewModel
<div class="container">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-8">
            @if (Model.AlreadyReviewed)
            {
                <div class="alert alert-success">
                    You have already submitted a review! Click @Html.ActionLink("Here", "Details", "Reviews", new {id = Model.ReviewId}, null) to edit your review.
                </div>
            }
            else
            {
                <div class="well well-sm">
                    <div class="text-right">
                        <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                    </div>
                    <div class="row" id="post-review-box" style="display: none;">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Write", "Reviews", FormMethod.Post))
                            {
                            <input id="product-id" name="productId" type="hidden" value="@Model.Id" />
                            <input id="ratings-hidden" name="rating" type="hidden">
                            <textarea class="form-control animated" cols="250" id="new-review" name="content" placeholder="Enter your review here..." rows="5" style="max-width: inherit"></textarea>

                            <div class="text-right">
                                <div class="stars starrr" data-rating="0"></div>
                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display: none; margin-right: 10px;">
                                    <span class="glyphicon glyphicon-remove"></span>Cancel
                                </a>
                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }           
        </div>
    </div>
</div>