<div class="alert alert-danger">
    <strong>Warning!</strong> Insufficient credits!
</div>

<script>
    $(document).ready(function () {
        $("#currentBalance").removeClass().addClass("price-data-cell").addClass("bg-danger");
    });
</script>