@model TechZone.Models.ViewModels.Purchase.FinalCheckoutViewModel
@{
    ViewBag.Title = "CheckOut";
}

<style>
    body {
        text-align: center;
    }
    td.price-data-cell {
        text-align: right;
    }
</style>

<h4 id="distanceCalc"></h4>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">
        <table class="table table-responsive table-hover table-bordered">
            <tr>
                <th>Items Price</th>
                <td id="itemsPrice" class="price-data-cell">$@(Model.FinalPrice.ToString("0.00"))</td>
            </tr>
            <tr>
                <th>Shipping Costs</th>
                <td id="shippingCosts" class="price-data-cell"></td>
            </tr>
            <tr>
                <th>Final Price</th>
                <td id="priceWithShipment" class="price-data-cell bg-success"></td>
            </tr>
            <tr>
                <th>Your Balance</th>
                @if (Model.FinalPrice > Model.CurrentCustomerBalance)
                {
                    <td class="price-data-cell bg-danger">$@(Model.CurrentCustomerBalance.ToString("0.00"))</td>
                }
                else
                {
                    <td class="price-data-cell bg-success">$@(Model.CurrentCustomerBalance.ToString("0.00"))</td>
                }
            </tr>
        </table>
        <p id="credits-enough"></p>
    </div>
</div>
<div class="row">
    <a href="@Url.Action("ShoppingCart", "Purchase")" class="btn btn-danger">
        <span class="glyphicon glyphicon-shopping-cart"></span> Back to Cart
    </a>
    <a href="@Url.Action("Checkout", "Purchase")" class="btn btn-success">
        Purchase <span class="glyphicon glyphicon-play"></span>
    </a>
</div>

@section scripts {
<script src="~/Scripts/CustomScripts/ShipmentCalculation.js" type="text/javascript"></script>
}