@model decimal
@{
    ViewBag.Title = "CheckOut";
}

<style>
    body {
        text-align: center;
    }
</style>

<h4 id="distanceCalc"></h4>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">
        <table class="table table-responsive table-hover">
            <tr>
                <th>Items Price</th>
                <td>$@(Model.ToString("0.00"))</td>
            </tr>
            <tr>
                <th>Shipping Costs</th>
                <td id="shippingCosts"></td>
            </tr>
            <tr class="bg-success">
                <th>Final Price</th>
                <td id="priceWithShipment"></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <a href="@Url.Action("ShoppingCart", "Purchase")" class="btn btn-danger">
        <span class="glyphicon glyphicon-shopping-cart"></span> Back to Cart
    </a>
    <a href="@Url.Action("Checkout", "Purchase")" class="btn btn-success">
        Purchase <span class="glyphicon glyphicon-play"></span>
    </a>
</div>

@section scripts {
<script>
	function distance(lon1, lat1, lon2, lat2) {
	var R = 6371; // Radius of the earth in km
	var dLat = (lat2-lat1).toRad();  // Javascript functions in radians
	var dLon = (lon2-lon1).toRad();
	var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
			Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) *
			Math.sin(dLon/2) * Math.sin(dLon/2);
	var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
	var d = R * c; // Distance in km
	return d;
}

/** Converts numeric degrees to radians */
if (typeof(Number.prototype.toRad) === "undefined") {
	Number.prototype.toRad = function() {
	return this * Math.PI / 180;
	}
}

window.navigator.geolocation.getCurrentPosition(function (pos) {
    var finalDistance = distance(pos.coords.longitude, pos.coords.latitude, 23.3219, 42.6977);
    console.log(finalDistance);  // Sofia Coordinates
    var distanceText = 'Distance to you : ' + Math.round(finalDistance) + ' km.';
    $("#distanceCalc").text(distanceText);
    var shippingCosts = Math.round((Number(finalDistance) / 40) * 100) / 100;
    $("#shippingCosts").text('$' + shippingCosts);
    var priceWithShipment = '$' + Math.round((shippingCosts + @Model) * 100) / 100;
	$("#priceWithShipment").text(priceWithShipment);
});
</script>
}