@model TechZone.Models.ViewModels.Purchase.ShoppingCartViewModel
@{
    ViewBag.Title = "ShoppingCart";
}

@section styles{
<style>
.table > tbody > tr > td {
    vertical-align: middle;
}
</style>
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Discounted Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                @Html.DisplayFor(vm => vm.ProductsInCart, "ProductInShoppingCart")              
                <tr>
                    <td colspan="2"></td>
                    <td><h5>Price w/o shipment</h5></td>
                    <td class="text-right"><h5><strong>$@Model.FinalPriceWithDiscount.ToString("0.00")</strong></h5></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <h3>You Save</h3></td>
                    <td class="text-right">
                        <h3><strong>$@((Model.FinalPriceWithoutDiscount - Model.FinalPriceWithDiscount).ToString("0.00"))</strong>
                        </h3></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <a href="@Url.Action("All", "Products")" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Checkout", "Purchase")" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>