@model string
@{
    ViewBag.Title = "Contact";
}

<div id="map"></div>

@section scripts {
<script src="~/Scripts/CustomScripts/GoogleMapScript.js" type="text/javascript"></script>
@*GOES TOGETHER WITH THE MAP FRAME, DO NOT REMOVE*@
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@(Model)&callback=initialize"></script>
}

<address>
    Vassil Aprilov 17<br />
    5809 Pleven, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    +359885428144
</address>

<address>
    <strong>Big Baws:</strong>   <a href="mailto:petar.dimitrov.86@students.softuni.bg">petar.dimitrov.86@students.softuni.bg</a><br />
</address>