@model string
@{
    ViewBag.Title = "Contact";
}

<style>
    #map {
        height: 600px;
        width: 55%;
    }
</style>

<div id="map"></div>

@section scripts {
    <script>
      function initMap() {
        var uluru = {lat: 43.4152342, lng: 24.6207013};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>

@*GOES TOGETHER WITH THE MAP FRAME, DO NOT REMOVE*@
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(Model)&callback=initMap">
</script>
}

<address>
    Vassil Aprilov 17<br />
    5809 Pleven, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    +359885428144
</address>

<address>
    <strong>Big Baws:</strong>   <a href="mailto:petar.dimitrov.86@students.softuni.bg">petar.dimitrov.86@students.softuni.bg</a><br />
</address>