@model IEnumerable<TechZone.Models.ViewModels.Articles.GeneralArticleViewModel>
@{
    ViewBag.Title = "All";
}

@section styles {
    <link rel="stylesheet" href="/Content/CustomSiteCss/ArticlesStyles.css">
}

<div class="container">
    @if (User.IsInRole("Publisher"))
    {
        @Html.ActionLink("Add New Article", "Add", "Articles", null, new { @class = "btn btn-lg btn-info add-button" })
        <br />
    }
    <div class="row">
        <div class="col-md-4">
            @using (Ajax.BeginForm("Search", null, new AjaxOptions
            {
                HttpMethod = "get",
                UpdateTargetId = "search-results",
                LoadingElementId = "loader"
            }, null))
            {
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="search" class="form-control input-lg" name="content" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="loader" style="display: none" class="text-center">
        Loading...<img src="http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-3.gif" />
    </div>
    <div id="search-results">
        @Html.Partial("_ArticleGeneralViewPartial", Model)
    </div>
</div>