<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://techzone-softuni-asp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>techzone-softuni-asp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>techzone-softuni-asp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$techzone-softuni-asp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TechZoneContext" Order="1" Enabled="True">
          <Destination Path="Data Source=techzone-server.database.windows.net;Initial Catalog=TechZoneContext;User ID=petardimitrov86;Password=Techzonethearmpit1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TechZone.Data.TechZoneContext, TechZone.Data" MigrationConfiguration="TechZone.Data.Migrations.Configuration, TechZone.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TechZoneContext-Web.config Connection String">
      <ParameterValue>Data Source=techzone-server.database.windows.net;Initial Catalog=TechZoneContext;User ID=petardimitrov86;Password=Techzonethearmpit1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>