@model IEnumerable<TechZone.Models.ViewModels.Products.GeneralProductPageViewModel>
@{
    ViewBag.Title = "All";
}

@section styles {
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/ProductStyles.css">
}
@{ int counter = 0; }

<div class="container" style="margin-top: 50px;">
    @foreach (var product in Model)
    {
        if (counter % 4 == 0)
        {
            @:<div class="row">
        }
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding: 15px;">
            <div class="col-item">
                <div class="post-img-content">
                    <img src="@product.ImageUrl" class="img-responsive" alt="@product.Name" width="350" height="260" />
                    @if (product.Discount != 0)
                    {
                        <span class="round-tag">-@product.Discount%</span>
                    }
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-7">
                            <h5> @product.Name</h5>
                            <h5 class="price-text-color">
                                @if (product.Discount != 0)
                                {
                                    <del>$@product.Price</del> @:$@product.FinalPrice.ToString("0.00")
                                }
                                else
                                {
                                    @:$@product.Price
                                }
                            </h5>
                        </div>
                        <div class="rating hidden-sm col-md-5">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (Math.Round(product.Rating) >= i)
                                {<i class="price-text-color fa fa-star"></i>}
                                else
                                {<i class="fa fa-star"></i>}
                            }
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <i class="fa fa-shopping-cart"></i>
                            <a href="#" class="hidden-sm">Add to cart</a>
                        </p>
                        <p class="btn-details">
                            <i class="fa fa-list"></i>
                            @Html.ActionLink("More details", "Details", "Products", new { id = product.Id }, new { @class = "hidden-sm" })
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
        if (counter % 4 == 3 || counter == Model.Count() - 1)
        {
            @:</div>
        }
        counter++;
    }
</div>