@model IEnumerable<TechZone.Models.ViewModels.Products.GeneralProductPageViewModel>
@{
    ViewBag.Title = "All";
}

@section styles 
{ 
    <link rel="stylesheet" href="/Content/CustomSiteCss/ProductStyles.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<div class="container">
    @Html.Partial("_SearchPanelPartial")
    <div id="loader" style="display: none" class="text-center">
        Loading...<img src="http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-3.gif" style="width: 150px" />
    </div>
    @if (Model.Any())
    {
        <div id="product-search-results">
            @Html.Partial("_GeneralProductViewPartial", Model)
        </div>
    }
</div>

@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/Scripts/CustomScripts/ProductPages.js"></script>
}