@model int

<a href="@Url.Action("ShoppingCart", "Purchase")" class="shopping-cart-button float-right">
    <i class="fa fa-shopping-cart"></i>
    <span class="text">Shopping Cart (@Model)</span>
</a>