@{
    ViewBag.Title = "NaughtyStringsError";
}

<div style="text-align: center">
    <h2>Oops!</h2>
    <img src="https://memecreator.org/static/images/memes/4535956.jpg" alt="Grumpy cat doesn't like you'" />
    <h3>Please go back to the @Html.ActionLink("Home Page", "Index", "Home", new { area = "" }, null) and stop being so naughty!</h3>
</div>