
@{
    ViewBag.Title = "Unauthorized";
}

<h2>You have no access to this page, so please just leave right MEOW!</h2>
<img src="http://img.memecdn.com/gandalf-cat_o_185741.jpg"/>
<h4>Click @Html.ActionLink("Here", "Index", "Home", new { area = "" }, null) to get back to homepage</h4>