
@{
    ViewBag.Title = "WaitForDownload";
}

<div class="error-page" style="text-align: center">
    <h3>Please wait while our team of cats are uploading your file.</h3>
    <img src="http://itmassist.co.za/images/dont-worry-cat-it.png" />
    <h4>Try refreshing the page in a few seconds.</h4>
</div>