@model string
@{
    ViewBag.Title = "ChatRoom";
    Layout = User.IsInRole("Moderator") ? "~/Areas/Moderator/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<style>
    #other {
        color: red;
    }
    #chat-container {
        margin-top: 50px;
    }
    #chat-window {
        list-style-type: none
    }
</style>

<div class="container" id="chat-container">
    <input type="hidden" value="@(User.IsInRole("Moderator") ? "Moderator" : Model)" id="chat-username" />
    <ul id="chat-window"></ul>
    <input type="text" id="message" class="form-control" />
    <input type="button" value="Send" id="send-message" />
</div>

@section scripts {
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/CustomScripts/chatOutput.js"></script>
<script src="~/Scripts/CustomScripts/chatInput.js"></script>
}